{% extends "base_generic.html" %}

{% block content %}
  <h1>Local Card Detection System</h1>
  <p>Welcome to Card Detection System, a website developed by <em>Vi & Dom</em>!</p>
  <h2>Dynamic content</h2>
  <p>The system has the following record counts:</p>
  <ul>
    <li><strong>cards:</strong> {{ num_cards }}</li>
    <li><strong>Cards available:</strong> {{ num_cards_available }}</li>
    <li><strong>Owners:</strong> {{ num_owners }}</li>
  </ul>

  <h3>Last record:</h3>
    <strong>last record with 
      <span class="text-success">access granted</span>
      or
      <span class="text-danger">access denied</span>
    </strong>

  <h2>Buttons</h2>
  <p>here you have access to main functionalities:</p>
  <button type="button" class="btn btn-primary">Show cards</button>
  <button type="button" class="btn btn-primary">Show records</button>
  <p>And CRUD operations for cards:</p>
  <button type="button" class="btn btn-primary">Add new card</button>
  <button type="button" class="btn btn-secondary">Edit card</button>
  <button type="button" class="btn btn-danger">Delete card</button>
  <!-- maybe add card owner end edit card owner? -->

{% endblock %}
