{% extends "base_generic.html" %}

{% block content %}
  <h1 class="text-primary display-3">Local Card Detection System</h1>
  <p>Welcome to Card Detection System, a website developed by <em>Vi & Dom</em>!</p>

  <hr/>

  <h2 class="text-secondary">Card Number</h2>
  <p>The system has the following record counts:</p>
  <ul>
    <li><strong>Cards in system:</strong> {{ num_cards }}</li>
  </ul>

  <hr/>


  <h2 class="text-secondary">Actions</h2>
  <p>Here you can see your cards:</p>
  <a href="/admin/cardSystem/card/"><button type="button" class="btn btn-primary">Show cards</button></a>
  <br/><br/><br/>
  <p>And CRUD operations for cards (only for admin):</p>
  <a href="/admin/cardSystem/card/add/"><button type="button" class="btn btn-primary">Add new card</button></a>
  <a href="/admin/cardSystem/card/18427321-8d30-4a4c-ba91-3a2b2c4ad22e/change/"><button type="button" class="btn btn-secondary">Edit card</button></a>
  <a href="/admin/cardSystem/card/18427321-8d30-4a4c-ba91-3a2b2c4ad22e/change/"><button type="button" class="btn btn-danger">Delete card</button></a>
  <hr/>

{% endblock %}